<div class="contenido container-fluid">
    <div class="titulo"><h2>Comparador de Precios</h2></div>
    <div class="subtitulo"><h4>Obtenga el producto que desee al mejor precio!</h4></div>
    <div class="parrafo"><p>Gracias a nuestra base de datos, que compara entre unas cuantas webs, encontraras el producto que necesitas al mejor precio</p></div>
    <div class="botones">
        <a class="btn btn-success btn-lg"  href="/registro">Regístrese ahora</a>
        <a class="btn btn-dark btn-lg"  href="/productos">Ver productos</a>
    </div>
</div>
