<div class="wrapper">
    <div class="testimonial">
        <article>
            <img src="../../../assets/imagen.jpg" alt="">
            
            <blockquote>
                Estudiante de Desarrollo de Aplicaciones Web.
            </blockquote>
            <h5>Alin Galben</h5>
        </article>
    </div>
    <hr>
    
    <div class="fluid-container" style="margin-top: 20px; margin-bottom: 30px;text-align: center;">
        <h4>Educación:</h4>

        <div> Bachillerato Tecnologico | IES Alonso Quijano | 2015/2017</div>
          <div>  Desarrollo de Aplicaciones Web | IES Juan Bosco | 2019/Actualidad</div>
    </div>
    <hr>
    <div class="fluid-container" style="padding-left: 20px; padding-right: 20px;margin-top: 20px; margin-bottom: 30px;text-align: center;">
        <h4>Conocimientos:</h4>
        <div>JavaScrpt | TypeScript | NodeJS | ExpressJS | Angular | MySQL | PHP | Symfony | HTML | CSS</div>
    </div>
    <hr>
    <h4 style="margin-top: 20px; text-align: center;">Ubicación:</h4>
    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d12298.095389378883!2d-3.0503414156212614!3d39.59288042150837!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd684a6a3e6a43e1%3A0xb449741ab50fb623!2s45800%20Quintanar%20de%20la%20Orden%2C%20Toledo!5e0!3m2!1ses!2ses!4v1623443659760!5m2!1ses!2ses" width="600" height="450" style="border:0;" allowfullscreen="" loading="lazy"></iframe>

</div>
