<footer class="bg-dark text-center text-white mt-6">
    <!-- Grid container -->
    <div class="container p-4">
      <!-- Section: Social media -->
      <section class="mb-4">  
        <!-- Github -->
        <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/alin-galben/properifericos" role="button"
          ><i class="fab fa-github"></i
        ></a>
      </section>
      <!-- Section: Social media -->
  
      <!-- Section: Form -->
      <section class="">
        <form action="">
          <!--Grid row-->
          <!--Grid row-->
        </form>
      </section>
      <!-- Section: Form -->
  
      <!-- Section: Text -->
      <section class="mb-4" style="padding-bottom: 20px;">
        <p style="padding-bottom: 10px;">
          Trabajo final del modulo de DAW
        </p>
        <a class="btn btn-secondary" href="/sobremi">Sobre mí</a>
      </section>
      <!-- Section: Text -->
      <hr>
      <!-- Section: Links -->
      <section style="padding-top: 20px;">
        <!--Grid row-->
        <div class="row">
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">CATEGORÍAS</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/productos" class="text-white">Productos</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Televisiones</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Smartphones</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Consolas</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">CATEGORÍAS</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/productos" class="text-white">Productos</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Televisiones</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Smartphones</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Consolas</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">CATEGORÍAS</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/productos" class="text-white">Productos</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Televisiones</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Smartphones</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Consolas</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
  
          <!--Grid column-->
          <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <h5 class="text-uppercase">CATEGORÍAS</h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a href="/productos" class="text-white">Productos</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Televisiones</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Smartphones</a>
              </li>
              <li>
                <a href="/productos" class="text-white">Consolas</a>
              </li>
            </ul>
          </div>
          <!--Grid column-->
        </div>
        <!--Grid row-->
      </section>
      <!-- Section: Links -->
    </div>
    <!-- Grid container -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © 2021 Copyright ProPerifericos
    </div>
</footer>
