<header class="navbar navbar-dark sticky-top bg-dark flex-md-nowrap p-0 shadow navegador-panel">
  <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/admin">Panel de Administración</a>
  <button class="navbar-toggler position-absolute d-md-none collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#sidebarMenu" aria-controls="sidebarMenu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
</header>
<div class="container-fluid">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse">
        <div class="position-sticky pt-3 ">
          <ul class="nav flex-column columna">
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/panel" href="/panel">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-home"><path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path><polyline points="9 22 9 12 15 12 15 22"></polyline></svg>
                Dashboard
              </a>
            </li> 
            <li class="nav-item">
              <a class="nav-link" routerLinkActive="active" routerLink="/admin/entradas" href="/admin/entradas" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-file"><path d="M13 2H6a2 2 0 0 0-2 2v16a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V9z"></path><polyline points="13 2 13 9 20 9"></polyline></svg>
                Entradas
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLinkActive="active" routerLink="/admin/productos" href="/admin/productos" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-shopping-cart"><circle cx="9" cy="21" r="1"></circle><circle cx="20" cy="21" r="1"></circle><path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path></svg>
                Productos
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLinkActive="active" routerLink="/admin/usuarios" href="/admin/usuarios" >
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-users"><path d="M17 21v-2a4 4 0 0 0-4-4H5a4 4 0 0 0-4 4v2"></path><circle cx="9" cy="7" r="4"></circle><path d="M23 21v-2a4 4 0 0 0-3-3.87"></path><path d="M16 3.13a4 4 0 0 1 0 7.75"></path></svg>
                Usuarios
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link"  routerLinkActive="active" routerLink="/admin/estadisticas" href="/admin/estadisticas">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-bar-chart-2"><line x1="18" y1="20" x2="18" y2="10"></line><line x1="12" y1="20" x2="12" y2="4"></line><line x1="6" y1="20" x2="6" y2="14"></line></svg>
                Estadísticas
              </a>
            </li>
            <li class="nav-item ultimo-item">
              <a class="nav-link"  routerLinkActive="active" routerLink="/admin/avatares" href="/admin/avatares">
                <i class="far fa-user-circle feather avatar-panel"></i>
                  Avatares
              </a>
            </li>
          </ul>
        </div>
      </nav>
  
      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4"><div class="chartjs-size-monitor"><div class="chartjs-size-monitor-expand"><div class=""></div></div><div class="chartjs-size-monitor-shrink"><div class=""></div></div></div>

        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="h2">Productos</h1>
          <div class="btn-toolbar mb-2 mb-md-0">
            <div class="btn-group me-2">
              <a href="admin/productos/insertar" style="text-decoration: none;" class="bbtn btn-success btn-sm">Insertar Producto</a>
            </div>
          </div>
      </div> 
      

      <div *ngIf="productos else empty">
        <div class="table-responsive">
          <table class="table table-striped ">
            <thead>
              <tr>
                <th scope="col">ID</th>
                <th scope="col">Imagen</th>
                <th scope="col">Nombre del Producto</th>
                <th scope="col">Categoria</th>
                <th scope="col">Nº De Enlaces</th>
                <th scope="col">Acciones</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let producto of productos">
                <th scope="row">{{producto.id}}</th>
                <td><img style="width: 30px;" [src]="producto.imagen" alt=""></td>
                <td>{{producto.nombre}}</td>  
                <td>{{producto.categoria}}</td>  
                <td></td> 
                <td><button class="btn btn-danger btn-sm" (click)="deleteProducto(producto.id);">
                  Borrar
                </button>
                <button disabled class="btn btn-primary btn-sm" style="margin-left: 5px;" (click)="actualizarProducto(editar, producto.id)">
                  Editar
                </button>

                <button class="btn btn-info btn-sm" style="margin-left: 5px;" (click)="insertarEnlace(enlace, producto.id)">
                  Insertar Enlace
                </button>
              </td>
              </tr>
            </tbody>
          </table>
          </div>
      </div>

      
      </main>
    </div>
  </div>

  <ng-template #enlace let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Insertar Enlace</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form style="margin-left: 10px; margin-right: 10px; margin-bottom: 10px;" name="formenlace" #f="ngForm">
                    
      <div class="form-group"  >
          <label for="nombre">Enlace</label>
          <input [(ngModel)]="formenlace.enlace"type="text" class="form-control" name="enlace" />
      </div>

      <div class="form-group"  >
        <label for="precio">Precio</label>
        <input [(ngModel)]="formenlace.precio"type="number" class="form-control" name="precio" />
    </div>

    <div class="form-group">
      <label for="categoria">Tienda</label><br>
      <select name="categoria" [(ngModel)]="formenlace.tiendaId">
        <option *ngFor="let tienda of tiendas" [value]=tienda.id>{{tienda.nombre}}</option>
      </select>
    </div>
  </form>

    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="subirEnlaceBBDD(); modal.dismiss('Cross click')">Insertar Enlace</button>
    </div>
  </ng-template>


  <ng-template #editar let-modal>
    <div class="modal-header">
      <h4 class="modal-title">Actualizar Producto</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">&times;</span>
      </button>
    </div>
    <form action="">


    </form>
    <div class="modal-footer">
      <button type="button" class="btn btn-danger" (click)="modal.close('Close click')">Cancelar</button>
      <button type="button" class="btn btn-success" (click)="ActualizarProducto()">Actualizar</button>
    </div>
  </ng-template>

  <ng-template #empty>
    <div class="no-avatar">
      <h3>No hay ningun producto . . .</h3>
      <a href="admin/productos/insertar" class="btn btn-success btn-lg mt-3">Insertar Producto</a>
    </div>
  </ng-template>



















